<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link rel="stylesheet" href="style.css"> -->
   <link rel="stylesheet" href="../static/css/style.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
   <script src="../static/js/script.js"></script>
   <title>Flux - Junte-se ao Fluxo</title>
  </head>
  <body>
    <header>
      <div class="topo px-3 text-white">
        <!------- FUNCIONALIDADES MENU -------->
        <div class="container pt-3">
          <div class="funfMenu d-flex flex-wrap pt-4 align-items-center justify-content-center justify-content-lg-start">
            <a href="index.html" class="logoIndex d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <img class="w-100" src="../static/assets/img/logoFundoajustado.png" alt="" width="150px">
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li class="d-flex align-items-center">
                <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                  <input type="search" class="form-control" placeholder="Digite o que você procura" aria-label="Search">
                </form>
              </li>
              <li>
                <div class="blocoCadLog d-flex align-items-center me-5">
                  <a href="#" class="nav-link icones text-secondary">
                    <i class="fa-regular fa-user fa-xl" style="color: #ffffff;"></i>
                  </a>
                  <div class="d-flex">
                    <span>
                      <a href="login.html" class="text-decoration-none text-light text-primary text-opacity-75">ENTRE</a>
                      ou
                      <br>
                      <a href="signup.html" class="text-decoration-none text-light text-primary text-opacity-75">CADASTRE-SE</a>
                    </span>
                  </div>
                </div>
              </li>
              <li>
                <a href="#" class="nav-link icones text-white">
                  <i class="fa-regular fa-heart fa-xl" style="color: #ffffff;"></i>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link icones text-white">
                  <i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link icones text-white">
                <i class="fa-regular fa-moon fa-xl" style="color: #ffffff;"></i>
              </a>
            </li>
          </ul>
        </div>
        <!----------- CATEGORIAS MENU ------->
        <div class="d-flex justify-content-center gap-4 pt-4">
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              PC GAMER
            </button>
            <ul class="dropdown-menu">
              ...
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              PC OFFICE
            </button>
            <ul class="dropdown-menu">
              ...
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              HARDWARE
            </button>
            <ul class="dropdown-menu">
              ...
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Monitores
            </button>
            <ul class="dropdown-menu">
              ...
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Periféricos
            </button>
            <ul class="dropdown-menu">
              ...
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Áudio e Vídeo
            </button>
            <ul class="dropdown-menu">
              ...
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Rede Wireless
            </button>
            <ul class="dropdown-menu">
              ...
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!---------------------------------->
  </header>
  <main>
    <form action="/productRegister" method="post" enctype="multipart/form-data">
      <div class="d-flex flex-column p-4 gap-3 justify-content-center align-items-center">
        <div>
          <i></i>
          <span class="h2">Cadastro de Produto</span>
        </div>
        
        <div id="cadastroProdutoContainer" class="d-flex flex-row gap-4 p-4 border border-1 shadow-lg p-3 mb-5 bg-body rounded">
          <div class="d-flex flex-column gap-4 p-4 w-100">
            <div class="d-flex flex-column">
              <label class="h5 me-3" for="nomeProduto">Nome</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Digite o nome" required>
            </div>
            <div class="d-flex flex-column">
              <label class="h5 me-4" for="descricaoProduto">Descrição</label>
              <div class="d-flex flex-column">
                <textarea name="dexcription" class="form-control" id="description" name = "description" maxlength="255" placeholder="Digite a descrição" required></textarea>
                <span class="d-flex flex-row text-muted"><div id="contagemCaracteres" class="me-1 text"><strong>255</strong></div> caracteres restantes</span>
              </div>
            </div>
            <div class="d-flex flex-column">
              <label class="h5 me-3" for="precoProduto">Preço</label>
              <div class="inputbox input-group d-flex align-items-baseline" id="inputGroupFocus">
                <span class="text-muted">R$</span>
                <input type="text" class="form-control" name="price" id="price" placeholder="Digite o preço" required>
              </div>
            </div>

            <!-- <div class="d-flex">
              <span class="prefix">R$</span>
              <input type="text" name="precoProduto" id="precoProduto" placeholder="Digite o preço do produto">
            </div> -->

            <div class="d-flex flex-column">
              <label class="h5 me-3" for="quantidadeProduto">Quantidade em Estoque</label>
              <input type="number" class="form-control" name="quantidadeProduto" id="quantidadeProduto" placeholder="Digite a quantidade" required>
            </div>

            <div class="d-flex flex-column">
              <label class="h5 me-3" for="categoriaProduto">Categoria</label>
              <select id="categoriaProduto" class="form-select form-control" aria-label="Default select example" aria-placeholder="Escolha uma categoria">
                <option value=""></option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
              </select>
            </div>

            <div class="d-flex justify-content-end gap-2">
              <button id="clearInputs" class="btn btn-primary px-3">Limpar</button>
              <!-- <button id="cadastrarProduto" class="btn btn-primary submitSign px-3">Cadastrar</button> -->
              <input type="submit" id="cadastrarProduto" value="Cadastrar" class="btn btn-primary submitSign px-3">
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-center w-100">
            <div id="dragandrop" class="d-flex flex-column justify-content-center gap-5 h-50 align-items-center w-75 drag-area">
              <img src="../static/assets/img/image-plus-svgrepo-com.svg" alt="">
              <div class="d-flex flex-column justify-content-center align-items-center gap-3">
                  <span class="text-muted">Selecione o arquivo ou arraste aqui.</span>
                <button  class="file-input-button clearInputs btn btn-primary w-50">Abrir Arquivo</button>
              </div>
              <input type="file" id="image" name="image" class="file-input" hidden/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>
  <footer>
    <!-- RECEBIMENTO DE OFERTA POR E-MAIL -->
    <!-- <form action="post">
      <div class="ofertaEmail p-4 fs-5 w-100 gap-4 d-flex flex-row justify-content-center align-items-center">
        <i class="fa-regular fa-envelope fa-xl"></i>
        <label for="inputRecebimentoEmail" class="form-label">Receba nossas ofertas por E-mail</label>
        <input type="email" name="email" id="inputRecebimentoEmail" class="form-control" placeholder="Digite seu E-mail" required>
        <button type="submit" class="btn btn-primary btn-lg submitEmail fs-6 d-flex align-items-center justify-content-center">Cadastrar</button>
      </div>
    </form> -->
    <!---------------------------------->
  </footer>
</body>
</html>